# .env  (en la raíz del proyecto)

# Auth
ADMIN_USER=admin
ADMIN_PASSWORD="cambiaresto"
JWT_SECRET=cambia_esto_por_un_secret_seguro

# Rutas
PROJECTS_DIR=/var/www

# URLs
FRONTEND_URL=http://localhost:3000
NUXT_PUBLIC_API_URL=http://localhost:4000
NUXT_PUBLIC_WS_URL=ws://localhost:4001