ADMIN_USER='admin'
ADMIN_PASSWORD='tupassword' # lo generas abajo
JWT_SECRET=7261ff19782c8ac8613cf6874618a3080a15374b63b6bc07654a8ec6441c2861       # generado abajo
PROJECTS_DIR=/var/www
FRONTEND_URL=http://localhost:3000